* {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Garamond, sans-serif;
  background-color: rgb(188, 108, 37);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.game-title {
  color: rgb(254, 250, 224);
  font-family: Garamond, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 5em;
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}


.game-clock-score {
  font-family: Garamond, sans-serif;
  font-size: 1em;
  color: rgb(252, 248, 220);
  }


.game-container {
  display: grid;
  grid-template-columns:repeat(4, auto);
  grid-gap: 15px;
  margin: 30px;
  justify-content: center;
}


.card {
  position: relative;
  width: 175px;
  height: 125px;
  background-color: rgb(96, 108, 56);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
}

/* .card-face {
  position: absolute;
} */

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-back:hover .horse-icon{
  width: 185px;
  height: 135px;
}

.card-front {
  transform: rotateY('180')
}

.horse-icon {
  position: absolute;
  width: 175px;
  height: 125px;
  
}


